<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--指定properties位置，从类路径根开始找文件-->
    <properties resource="jdbc.properties"/>
    <!--settings设置，输出日志-->
    <settings>
        <!--mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--环境配置信息-->
    <!--定义别名-->

    <environments default="database1">
        <environment id="database1">
            <!--配置的事务类型
                tpye：JDBC：表示使用JDBC中的Connect对象的commit，rollback做事务处理  -->
            <transactionManager type="JDBC"/>
            <!--dataSource表示数据源
                type:指定数据源类型
                1）POOLED：使用连接池，mybatis会创建PooledDataSource类
                2）UNPOOLED：不使用连接池，在每次执行sql语句，先创建连接，执行sql，再关闭连接
                             mybais会创建一个UnpooledDataSource，管理Connection对象的使用
                3）JNDI：Java命名和目录服务(windows注册表)
            -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--第一种方式-->
        <!--><mapper resource="com/learning/dao/StudentDao.xml"/><-->
        <!--第二种方式:使用包名
            name:xml文件(mapper文件)所在的包名
            使用package的要求：
                   1.mapper文件名称需要与接口名称一样，区分大小写一样
                   2.mapper文件和dao接口需要再同一目录
        -->
        <package name="com.dao"/>
    </mappers>
</configuration>
